@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Roboto+Condensed:wght@300&display=swap');

.sidebar {
    background-color: papayawhip;
    width: 20vw;
    font-family: 'Phudu', cursive;
}

.sidebar nav {
    padding: 45px;
    height: 100vh;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 11px;
}

* {
    margin: 0;
    padding: 0;

}

.main {
    background-color: peachpuff;
    width: 80vw;
}

.container {
    display: flex;
}
.infoContainer{
    background-color: aquamarine;
    font-size: 25px;
    height:50vh;
    width: 50vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.name{
    font-size: 40px;
    font-family: 'Phudu', cursive;
}
.MyInfo{
    display: flex;
    font-size: 18px;
    justify-content: center;
    flex-direction: column;
}
.MyPicture img{
    height: 50vh;
    width: 15vw;
    
}
.about{
    font-size: 45px;
    font-family: 'Phudu', cursive;
}
